*{
  font-family: 'Courier New';
}

h1, h3{
  color: #b92b27;
}

#signup{
  background-color: #b92b27;
  color: #ffffff;
  border-radius: 3px;
  /* border-color: none; */
}

#login{
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
}

/* Descendant selectors */
/* h1 span{
  color: green; (or later we will use psuedo element to make first later of quora i.e. Q to green)
} */

.post a{
  color: purple;
  background-color: yellow;
}

div ul li a{
  color: hotpink;
}

.upvotebtn{
  background-color: cornflowerblue;
  color: white;
}

/* .ansbtn{
  background-color: rgba(233, 232, 226, 0.513);
} */

.upvotebtn + button{
  background-color: blue;
  color: aliceblue;
}

p + h3{
  text-decoration: underline;
}

/* child selector */
div > input{
  background-color: rgb(172, 204, 237);
}

input[type="text"]{
  color: green;
}

input[type="password"]{
  color: grey;
}

input[type]{
  background-color: ghostwhite;
}

div[id="footerDiv"] p{
  color: grey;
}

.upvotebtn:hover{
  background-color: black;
  color: white;
}

.ansbtn:hover{
  background-color: green;
  color:black;
}

.ansbtn:active{
  background-color: black;
  color:white;
}

.upvotebtn:active{
  background-color: cadetblue;
}

input[type="radio"]:checked + label{
  color: red;
  font-weight: bold;
}

.divforpost:nth-of-type(2n){
  background-color: wheat;
}

.psuedohelper:nth-of-type(2n){
  text-align: right;
}

/* psuedo element */
#head1::first-letter{
  color: green;
}

#footerDiv p::first-line{
  color: darkviolet;
}

p::selection{
  background-color: darkblue;
}